<h1>Información de Contacto</h1>
<div id ="comment">  
<h2>Reunión Dental de Provincia Chihuahua 2014</h2>
<h3>Dra. Elizabeth Fierro Vazquez</h3>
<font color="#4682B4"><b ><%= "Teléfono: "%></b></font><%="(639) 472-7634"%><br />
<font color="#4682B4"><b ><%= "Fax: "%></b></font><%="(639) 474-2934"%><br />
<font color="#4682B4"><b ><%= "Correo Electrónico: "%></b></font><%=mail_to "administrador@dentaldeprovinciachihuahua2014.com"%><br /><br /><br />
</div>
<div id="alllinks">
    <%= link_to 'Inicio', oc_members_path, :title => "Inicio"%>
</div>