<h1>Expositores</h1>
<div id ="comment"> 
  <h2>Ah-Kim-Pech Todo en Ortodoncia</h2>
  <p>Ah-kim-pech - Ciudad de México (55)5598 9387 - Interior de la República 01 800 777 11 33</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/ahkim.jpg", :width => "750px"), "http://www.ahkimpech.com/"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.ahkimpech.com", "http://www.ahkimpech.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>COA Internacional</h2>
  <p>Guadalajara, Jal. México (33) 5000-9999 Ext. 125 y Santiago, Chile (2) 790-5200</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/coa.png", :width => "750px"), "http://www.coadental.com"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.coadental.com", "http://www.coadental.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>DENTSPLY</h2>
  <p>Calzada Vallejo No. 846 Col. Industrial Vallejo: México D.F., C.P. 02300 Tel.: 55 87 64 88/ 55 87 60 70 Fax: 53 68 49 46 </p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/dentsply.jpg", :width => "750px"), "http://www.dentsply.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.dentsply.com.mx", "http://www.dentsply.com.mx"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Soluciones para el ciudado y la salud bucal</h2>
  <p>1800-508-58-00 </p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/oralb.jpg", :width => "450px"), "http://www.oralb.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.oralb.com.mx", "http://www.oralb.com.mx"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Vamasa Health Innovasion</h2>
  <p>Monterrey, N.L. México 01 (81) 8311-1111 y 01-800-849-TIDI (8434)</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/vamasa.jpg", :width => "750px"), "http://www.vamasa.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.vamasa.com.mx", "http://www.vamasa.com.mx"%></h2><br>
</div><br />

<div id="alllinks">
  <%= link_to 'Inicio', root_path, :title => "Inicio"%>
</div>

