<h1>Expositores</h1>
<div id ="comment"> 
  <h2>Ah-Kim-Pech Todo en Ortodoncia</h2>
  <p>Ah-kim-pech - Ciudad de México (55)5598 9387 - Interior de la República 01 800 777 11 33</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/ahkim.jpg", :width => "750px"), "http://www.ahkimpech.com/"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.ahkimpech.com", "http://www.ahkimpech.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>COA Internacional</h2>
  <p>Guadalajara, Jal. México (33) 5000-9999 Ext. 125 y Santiago, Chile (2) 790-5200</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/coa.png", :width => "750px"), "http://www.coadental.com"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.coadental.com", "http://www.coadental.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>DENTSPLY</h2>
  <p>Calzada Vallejo No. 846 Col. Industrial Vallejo: México D.F., C.P. 02300 Tel.: 55 87 64 88/ 55 87 60 70 Fax: 53 68 49 46 </p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/dentsply.jpg", :width => "750px"), "http://www.dentsply.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.dentsply.com.mx", "http://www.dentsply.com.mx"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Soluciones para el ciudado y la salud bucal</h2>
  <p>1800-508-58-00 </p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/oralb.jpg", :width => "450px"), "http://www.oralb.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.oralb.com.mx", "http://www.oralb.com.mx"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Vamasa Health Innovasion</h2>
  <p>Monterrey, N.L. México 01 (81) 8311-1111 y 01-800-849-TIDI (8434)</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/vamasa.jpg", :width => "750px"), "http://www.vamasa.com.mx"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.vamasa.com.mx", "http://www.vamasa.com.mx"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>AB Implamtes</h2>
  <p>Tel.:220 927 540 / 220 927 410 y Fax 220924000</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/abimplantes.png", :width => "450px"), "http://www.abimplantes.com"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.abimplantes.com", "http://www.abimplantes.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>TOLETEK Primera empresa dental mexicana en vender la cámara intraoral al mundo</h2>
  <p>Mex. DF. Tel: (55) 12 51 59 50 y LADA SIN COSTO: 01 800 543 5147</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/toletek.jpg", :width => "450px"), "http://www.toletek.com/"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.toletek.com", "http://www.toletek.com/"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Dentadec Compañia Lider en Productos Dentales Profesionales</h2>
  <p>Lago Wenner #14 Col. Pensil Cp. 11430 México, D.F. Tel. 5545 4520 Lada Sin costo: 01800 711-58-45</p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/logodentadec.png", :width => "250px")%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.dentadec.com", "http://dentadec.com/site/"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Perla-Dent Gel Blanqueador Dental</h2>
  <p></p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/logoperla.png", :width => "450px")%></div><br>
</div><br />

<div id ="comment"> 
  <h2>Portal Odontologos</h2>
  <p>contacto@odontologos.mx Teléfonos (55) 5349-2468 / 01 800 9 PORTAL(767825)</p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/portalodontologos.png", :width => "350px")%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.odontologos.mx", "http://odontologos.mx/"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>Liomont Ética Farmacéutica Desde 1938</h2>
  <p>Laboratorios Liomont S.A. de C.V.</p>
  <p>Adolfo López Mateos No. 68. Cuajimalpa Centro, 05000. Delegación Cuajimalpa de Morelos, México D.F.</p>
  <p>Tel.: (55) 5814-1200    Fax: (55) 5812-1074</p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/liomont.png", :width => "350px")%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.liomont.com", "http://www.liomont.com/"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>MEDILU</h2>
  <p>Venta de equipos medicos de la mejor calidad al mejor precio</p>
  <!--p>Adolfo López Mateos No. 68. Cuajimalpa Centro, 05000. Delegación Cuajimalpa de Morelos, México D.F.</p-->
  <p>Tel.: (614) 422-1793</p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/medilu.png", :width => "auto")%></div><br>
  <!--h2 style='text-align: center;'><%#=link_to "www.medilu.com", "http://www.medilu.com/"%></h2><br-->
</div><br />

<div id ="comment"> 
  <h2>Medental</h2>
  <p></p>
  <br>
  <div style='text-align: center;'><%=image_tag("/assets/medental.png", :width => "450px")%></div><br>
</div><br />

<div id="alllinks">
  <%= link_to 'Inicio', root_path, :title => "Inicio"%>
</div>

