<h1>Expositores</h1>
<div id ="comment"> 
  <h2>Ah-Kim-Pech Todo en Ortodoncia</h2>
  <p>Ah-kim-pech - Ciudad de México (55)5598 9387 - Interior de la República 01 800 777 11 33</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/ahkim.jpg", :width => "750px"), "http://www.ahkimpech.com/"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.ahkimpech.com", "http://www.ahkimpech.com"%></h2><br>
</div><br />

<div id ="comment"> 
  <h2>COA Internacional</h2>
  <p>Guadalajara, Jal. México (33) 5000-9999 Ext. 125 y Santiago, Chile (2) 790-5200</p>
  <br>
  <div style='text-align: center;'><%=link_to image_tag("/assets/coa.png", :width => "750px"), "http://www.coadental.com/"%></div><br>
  <h2 style='text-align: center;'><%=link_to "www.coadental.com/", "http://www.coadental.com/"%></h2><br>
</div><br />


<div id="alllinks">
  <%= link_to 'Inicio', root_path, :title => "Inicio"%>
</div>

