<h1>Centro de Convenciones</h1><br />

<div id="co_index">
  <h3>Centro de Convenciones</h3>
  <p>Ave. Tecnológico y Escudero C.P. 31120 Chihuahua, Chihuahua, México<br />
    Tel: 52 (614) 214-2600 Fax: 52 (614) 214-2620<br />
    01-800-EXPOCHIH (01-800-39762444)<br />
    <%=link_to "www.expochihuahua.com.mx", "http://www.chihuahuamexico.com"%></p>
  <h2 style="margin-bottom: 30px; text-align: center;">Galería</h2>
    <div class="group" rel="group">
      <%=link_to image_tag("/assets/centro/CentroExpo.JPG", :size => "670x382", :style => "margin-left:85px"), "http://www.chihuahuamexico.com"%><br /><br />
      <%=link_to image_tag("/assets/centro/CentroExpo2.JPG", :size => "670x382", :style => "margin-left:85px"), "http://www.chihuahuamexico.com"%><br /><br />
      <%=link_to image_tag("/assets/centro/CentroExpo3.JPG", :size => "670x382", :style => "margin-left:85px"), "http://www.chihuahuamexico.com"%><br /><br />
      <%=link_to image_tag("/assets/centro/CentroExpo4.JPG", :size => "670x382", :style => "margin-left:85px"), "http://www.chihuahuamexico.com"%><br /><br />
  </div>
  <div >
    <iframe style="margin-left:85" width="840" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=centro+de+conferencias+y+exposiciones+chihuahua&amp;fb=1&amp;hq=centro+de+conferencias+y+exposiciones&amp;hnear=0x86ea449d5d484033:0xb7f1a7a706dd1d7b,Chihuahua,+Mexico&amp;cid=0,0,7977009855949666972&amp;ll=28.653504,-106.0742&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small>
      <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=centro+de+conferencias+y+exposiciones+chihuahua&amp;fb=1&amp;hq=centro+de+conferencias+y+exposiciones&amp;hnear=0x86ea449d5d484033:0xb7f1a7a706dd1d7b,Chihuahua,+Mexico&amp;cid=0,0,7977009855949666972&amp;ll=28.653504,-106.0742&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  </div>
</div>
<br />

<div id="alllinks">
  <%= link_to 'Inicio', root_path, :title => 'Inicio' %>
</div>