<%= form_for(@ExpositionCenter) do |f| %>
  <% if @ExpositionCenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ExpositionCenter.errors.count, "error") %> prohibited this oc_member from being saved:</h2>

      <ul>
      <% @ExpositionCenter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-holder">
    <%= f.label :title, "Titulo:" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field-holder">
    <%= f.label "Imagen:" %><br />
    <%= f.file_field :avatar%><br />
  </div>
  <div class="actions">
    <%= f.submit "Aceptar", :title => "Aceptar"%>
  </div>
<% end %>

