<!-- Header -->
      <div id="header">
        <!-- Slider -->
        <div id="slider">
          <div id="slider-holder">
            <ul>
              <li> 
                <%=link_to  image_tag("/assets/cascada1.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada2.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada3.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada4.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada5.jpg", :size => '874x327'), "#"%>
              </li>
              <li> 
                <%=link_to  image_tag("/assets/ciudad1.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad2.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad3.bmp", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad4.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad5.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/tour1.jpg", :size => '874x327'), "#"%>
              </li>
            </ul>
          </div>
          <div class="slider-nav">
            <a href="#" class="prev">Siguiente</a>
            <a href="#" class="next">Atras</a>
          </div>
        </div>
        <!-- END Slider -->	
      </div>
      <!-- END Header -->
<h3 style="position: relative; font-size: 20px;">Inicio</h3>
<p style="text-align:justify; padding: 20px;">La Dirección de Turismo de la Secretaría Estatal de Economía, por conducto de la Oficina de Convenciones y Visitantes (OCV), ante la instrucción del Gobernador del Estado, César Duarte Jáquez, de apoyar la economía del estado a través del turismo de negocios, logró la sede de la Reunión Nacional Dental de Provincia para el año 2014.
Con el apoyo de los Gobiernos estatal y municipal de Chihuahua, las bondades de nuestro estado por delante y apoyados en la capacidad de promoción y la unidad del Sector Turístico (Expo-Chihuahua, hoteleros, Tour Operadores, aerolíneas, restauranteros y demás servicios turísticos) se han dado pasos importantes para la consolidación del turismo de negocios como un rubro trascendente en nuestra economía.

La Reunión Nacional Dental de Provincia reúne a más de 1250 especialistas en el área de odontología y la Oficina de Convenciones y Visitantes de Chihuahua (OCV), junto con la Asociación de Colegios de Cirujanos Dentistas del Estado de Chihuahua A.C., asistieron a la Ciudad de Tuxtla Gutiérrez Chiapas, donde solicitaron y ganaron la sede para dicho evento, cabe mencionar que por este congreso se  compitió con la Ciudad de Cancún, Quintana Roo, donde una vez más se manifiesta el interés de los diferentes sectores económicos de Chihuahua como uno de los destinos turísticos más importantes en el país.

La fecha para la Reunión Nacional Dental de Provincia, conocido como el evento más importante en el gremio de odontología, en la sede Chihuahua será en el mes de mayo del año 2014; se espera que la derrama económica sea de trascendencia para Chihuahua, porque además del congreso, incluirán beneficios económicos en hotelería y restaurantes, tours por la Sierra Tarahumara y sus atractivos, además de los destinos turísticos de todo el estado.

A través de la labor promocional de OCV, que tiene como objetivo consolidar al Estado de Chihuahua como uno de los 10 principales destinos de México en congresos y convenciones, los médicos dentales conocieron nuestros productos regionales, los diferentes destinos turísticos de nuestro estado, de los cuales, la Sierra Tarahumara fue factor trascendente para elegir a nuestro estado como sede de tan importante evento.
</p>