<!-- Header -->
      <div id="header">
        <!-- Slider -->
        <div id="slider">
          <div id="slider-holder">
            <ul>
              <li> 
                <%=link_to  image_tag("/assets/cascada1.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada2.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada3.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada4.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/cascada5.jpg", :size => '874x327'), "#"%>
              </li>
              <li> 
                <%=link_to  image_tag("/assets/ciudad1.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad2.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad3.bmp", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad4.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/ciudad5.jpg", :size => '874x327'), "#"%>
              </li>
              <li>
                <%=link_to  image_tag("/assets/tour1.jpg", :size => '874x327'), "#"%>
              </li>
            </ul>
          </div>
          <div class="slider-nav">
            <a href="#" class="prev">Siguiente</a>
            <a href="#" class="next">Atras</a>
          </div>
        </div>
        <!-- END Slider -->	
      </div>
      <!-- END Header -->
<h3 style="position: relative; font-size: 20px;">Inicio</h3>
<p style="text-align:justify; padding: 20px;">
La Asociación de Colegios de C. Dentistas del Estado de Chihuahua, 
la Asociación Dental Mexicana, y el Comité Organizador, tenemos el agrado de invitarlos a nuestro magno evento ”Reunión Dental de Provincia Chihuahua 2014”  “Dr. Jaime Ávila Soto” los días  22 al 24 de Mayo del 2014, en el Centro de Convenciones de la Cd. de Chihuahua, contaremos con  conferencistas de muy alto nivel Nacional e Internacional, así como una de las más grandes Exposiciones Comerciales del país,  podrás asistir a diferentes eventos sociales como son el Coctel de bienvenida con el grupo musical Caballo Dorado,  Cena de Gala patrocinada por Gobierno del Estado, también tendremos diferentes eventos sociales patrocinados por empresarios del Estado y tours turísticos, te esperamos!
</p>