<div id="co_index">
  <h2 style="margin-bottom: 30px; text-align: center;">Eventos a Realizar en los 3 Días de Conferencías</h2>
  <table style="margin-left: 20px">
    <% @events.each do |event| %>
      <tr class="float_left_thumb">
        <td class="group" rel="group">
          <div style="margin-bottom: 24px ">
            <%=link_to image_tag(event.avatar.url, :size => "136x136", :style => "padding-right: 8px" ), event, :title => event.name%>
          </div>
          <div id="indexlinks1"><%=link_to event.name, event, :title => event.name%></div>
          <div id="indexlinks2"><%=link_to event.place, event, :title => event.place%></div>
          <div id="indexlinks2"><%=link_to event.start_date, event, :title => event.name%></div>
        </td>

      </tr>
    <%end%>
  </table>
</div>
<br />

<div id="alllinks">
  <% if logged_in? %>
    <%= link_to 'Registrar Nuevo Evento', new_event_path, :title => 'Registrar Nuevo Evento' %> |
  <%end%>
  <%= link_to 'Inicio', root_path, :title => 'Inicio' %>
</div>

