<div id ="comment" style="margin-bottom: 20px">    
  <h1 style="text-align:center; margin-bottom: 10px;"><%= @event.name %></h1>
  <div id="commentImage" style="margin-right: 58px; background-position: top" >
    <%=link_to image_tag(@event.avatar.url, :size => "200x200"), @event.avatar.url, :class =>"group", :title => @event.name%>
  </div>
  <div id="infocontainer";>
    <br />
    <font color="#4682B4"><b ><%= "Lugar: "%></b></font><%= @event.place %><br />
    <font color="#4682B4"><b ><%= "Inicia: "%></b></font><%= @event.start_date %><br /> 
    <font color="#4682B4"><b ><%= "Termina: "%></b></font><%= @event.end_date %><br /> 
    <%= @event.description %><br />
    <% if @event.id == 2 %> 
        <p><%=link_to "Descargar programa del día 22", "/assets/programa22.xlsx"%></p>
    <% elsif @event.id == 5 %>
        <p><%=link_to "Descargar programa del día 23", "/assets/programa23.xlsx"%></p> 
    <% elsif @event.id == 4 %> 
        <p><%=link_to "Descargar programa del día 24", "/assets/programa24.xlsx"%></p>
    <% end %> 
  </div>


  <% if logged_in? %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete %>
  <%end%>
  <br /> 
  <div class="fb-like" data-href="http://www.dentaldeprovinciachihuahua2014.com/events/<%= @event.id %>" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="light"></div> 
  <%= link_to 'Regresar', events_path, :style => "float:right", :title => "Regresar al listado de hoteles."%>
</div>
