<h1>Información Sobre el Desarrollo Web</h1>
<div id ="comment">  
<h2>Desarrollo Web</h2>
<h3>Ing. Javier Alejandro Ballesteros Fierro</h3>
<font color="#4682B4"><b ><%= "Teléfono: "%></b></font><%="(639) 472-7634"%><br />
<font color="#4682B4"><b ><%= "Fax: "%></b></font><%="(639) 474-2934"%><br />
<font color="#4682B4"><b ><%= "Celular: "%></b></font><%="(614) 247-9483, (639) 129-8888"%><br />
<font color="#4682B4"><b ><%= "Correo Electrónico: "%></b></font><%=mail_to "alexjabf@gmail.com"%><br /><br /><br />
<h2>Diseño Grafico</h2>
<h3>Lic. Janeth Alejandra Salazar Rivera</h3>
<font color="#4682B4"><b ><%= "Teléfono: "%></b></font><%="(639) 470-9910"%><br />
<font color="#4682B4"><b ><%= "Fax: "%></b></font><%="(639) 474-2934"%><br />
<font color="#4682B4"><b ><%= "Celular: "%></b></font><%="(639) 125-0104"%><br />
<font color="#4682B4"><b ><%= "Correo Electrónico: "%></b></font><%=mail_to "ale_salazar86@hotmail.com"%><br />
</div><br /><br />
<div id="alllinks">
    <%= link_to 'Inicio', oc_members_path, :title => "Inicio"%>
</div>

